</div>

<script type="text/javascript" src="<?php echo JQUERY_URL ?>"></script>
<script type="text/javascript" src="<?php echo POPPER_URL ?>"></script>
<script type="text/javascript" src="<?php echo BOOTSTRAP_JS_URL ?>"></script>
<script type="text/javascript" src="<?php echo BOOTSTRAP_JQ_DATA_TABLE_URL ?>"></script>
<script type="text/javascript" src="<?php echo BOOTSTRAP_JS_DATA_TABLE_URL ?>"></script>
<script type="text/javascript" src="<?php echo SITE_URL ?>assets/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="<?php echo SITE_URL ?>assets/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="<?php echo SITE_URL ?>assets/js/jszip.min.js"></script>
<script type="text/javascript" src="<?php echo SITE_URL ?>assets/js/pdfmake.min.js"></script>
<script type="text/javascript" src="<?php echo SITE_URL ?>assets/js/vfs_fonts.js"></script>
<script type="text/javascript" src="<?php echo SITE_URL ?>assets/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="<?php echo SITE_URL ?>assets/js/buttons.print.min.js "></script>

<script type="text/javascript" src='<?php echo SITE_URL ?>assets/js/fullcalendar/core/main.js'></script>
<script type="text/javascript" src='<?php echo SITE_URL ?>assets/js/fullcalendar/interaction/main.js'></script>
<script type="text/javascript" src='<?php echo SITE_URL ?>assets/js/fullcalendar/daygrid/main.js'></script>
<script type="text/javascript" src='<?php echo SITE_URL ?>assets/js/fullcalendar/bootstrap/main.js'></script>

<script type="text/javascript" src="<?php echo SITE_URL ?>assets/js/bootstrap-autocomplete.min.js"></script>

<script type="text/javascript" src="<?php echo PACE_JS_URL ?>"></script>
<script type="text/javascript" src="<?php echo JQ_MASK_URL ?>"></script>
<script type="text/javascript" src="<?php echo APP_JS_URL ?>"></script>

</body>
</html>