<div class="row corpo">
	<div class="col-md-12">
		<h2><i class="fa fa-futbol-o"></i> <?php echo $titulo ?></h2>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="<?php echo PAG_ARTILHARIA ?>">
				<i class="fa fa-arrow-left"></i>
				Voltar
			</a>
		</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form method="POST">
			<input type="hidden" name="cod" value="<?php echo $codigo ?>">
			<div class="row">
				<div class="form-group col-md-6">
					<label>Campeonato:</label>
					<input type="text" name="campeonato" value="<?php echo $campeonato ?>" class="form-control" disabled>
				</div>
				<div class="form-group col-md-6">
					<label>Time:</label>
					<input type="text" name="time" value="<?php echo $time ?>" class="form-control" disabled>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label>Aluno:</label>
					<input type="text" name="aluno" value="<?php echo $aluno ?>" class="form-control" disabled>
				</div>
				<div class="form-group col-md-6">
					<label>Gols:</label>
					<input type="number" name="gols" value="<?php echo $gols ?>" min="0" class="form-control" required>
				</div>
			</div>			
			<div class="row">
				<div class="form-group col-md-12">
					<input type="submit" name="salvar" value="Salvar" class="btn btn-success">
				</div>
			</div>
		</form>
	</div>
</div>