<div class="row corpo">
	<div class="col-md-12">
		<h2>
			<i class="fa fa-refresh"></i> Rodadas do Campeonato
			<small><?php echo $campeonato['nome'] ?></small>
		</h2>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="<?php echo PAG_EDT_CAMPEONATO . $cod_campeonato ?>">
					<i class="fa fa-arrow-left"></i>
					Voltar
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="#" data-toggle="modal" data-target="#mdAdicionarRodada">
					<i class="fa fa-plus"></i>
					Adicionar rodada
				</a>
			</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th>Número</th>
					<th>Descrição</th>
					<th>Opções</th>
				</thead>
				<tbody>
					<?php if (count($rodadas) > 0): ?>
						<?php foreach ($rodadas as $r): ?>
							<tr>
								<td><?php echo $r['numero'] ?></td>
								<td><?php echo $r['descr'] ?></td>								
								<td>
									<a href="<?php echo PAG_JOGOS_RODADA. $r['cod_rodada'] ?>" class="btn btn-success">
										<i class="fa fa-futbol-o"></i> Jogos da Rodada
									</a>
									<a href="<?php echo PAG_DEL_RODADA_CAMPEONATO . $r['cod_rodada'] ?>" class="btn btn-danger del">
										<i class="fa fa-close"></i> Excluir
									</a>
								</td>
							</tr>
						<?php endforeach ?>
					<?php else: ?>
						<tr>
							<td colspan="3">Nenhuma rodada neste campeonato ainda.</td>
						</tr>
					<?php endif ?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal" id="mdAdicionarRodada">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="POST">
				<input type="hidden" name="cod_campeonato" value="<?php echo $cod_campeonato ?>">
				<div class="modal-header">
					<h4 class="modal-title">Adicionar rodada</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Número:</label>
						<input type="number" name="numero" class="form-control" value="<?php echo $numero_ultima_rodada + 1 ?>" required>
					</div>
					<div class="form-group">
						<label>Descrição:</label>
						<input type="text" name="descr" class="form-control" value="<?php echo 'Rodada ' . ($numero_ultima_rodada + 1) ?>" required>
					</div>
				</div>
				<div class="modal-footer">					
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					<input type="submit" name="adicionar_rodada" class="btn btn-success" value="Adicionar">
				</div>
			</form>
		</div>
	</div>
</div>