header {
	background: url('../img/header.jpg');
	background-size: cover;
	padding: 30px;	
}

header h2, header h2 small {
	display: block;
	padding: 10px;
	color: #fff;
}

.logo {
	width: 40%;
}

.logo-small {
	width: 10%;
}

.card {
	min-height: 200px;
	text-align: center;
}

.card i {
	font-size: 3em;
}

footer {
	text-align: center;
	background-color: #3B3B3B;
	padding: 30px;
}

footer p {
	padding-top: 20px;
	color: #fafafa;
}

footer p a {
	color: #fafafa;
	font-weight: bold;
}

.logo-footer {
	filter: grayscale(100%);
	width: 150px;
}